In [5]:
import pandas as pd
import os

In [6]:
# Load the CSV file into a pandas DataFrame
file_path = "../datasets/binary_imdb_data_with_ids.csv"  # Replace with your file's path if it's not in the current directory
imdb_data_df = pd.read_csv(file_path)

In [49]:
def review_from_unique_id(unique_id):
    imdb_data_df['unique_id']==unique_id
    imdb_data_df[imdb_data_df['unique_id']==unique_id]
    idces = imdb_data_df[imdb_data_df['unique_id']==unique_id].index.tolist()
    if len(idces) == 1:
        idx = idces[0]
        review = imdb_data_df['review'][idx]
    else:
        print(f"ERROR: list of indices matching {unique_id}: {idces}")
        review = ''
    return review

In [50]:
unique_id = 4042309880243029070
print(review_from_unique_id(unique_id))

ERROR: list of indices matching 4042309880243029070: []

In [40]:
imdb_data_df

,unique_id,review,sentiment
0,-2939493448394237410,One of the other reviewers has mentioned that ...,1
1,8434780703973373717,A wonderful little production. <br /><br />The...,1
2,7810130913383113090,I thought this was a wonderful way to spend ti...,1
3,2653160638092124422,Basically there's a family where a little boy ...,0
4,-10746115423933120,"Petter Mattei's ""Love in the Time of Money"" is...",1
...,...,...,...
49577,900683850375371194,I thought this movie did a down right good job...,1
49578,8277877401298023333,"Bad plot, bad dialogue, bad acting, idiotic di...",0
49579,-1483338817299089243,I am a Catholic taught in parochial elementary...,0
49580,6476328280834166216,I'm going to have to disagree with the previou...,0
49581,-2665644193434610917,No one expects the Star Trek movies to be high...,0